<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker | Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
    <h1>Groupie Tracker</h1>
</header>

<div class="container">
    {{ range . }}
        <div class="card">
            <h2>{{ .Name }}</h2>
            <div class="image-wrapper">
                <img src="{{ .Image }}" alt="{{ .Name }}">
            </div>
            <div class="card-info">
                <p>Depuis {{ .CreationDate }}</p>
                <p>1er Album: {{ .FirstAlbum }}</p>
            </div>
            <a href="/artist?id={{ .ID }}" class="btn">Voir l'artiste</a>
        </div>
    {{ end }}
</div>

    <footer>
        <p>&copy; 2026 Groupie Tracker Project - Standard Go Library </p>
    </footer>

</body>
</html>